

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: rgb(22, 18, 18);
}

.navbar {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s, color 0.3s;
    top: 0;
}  

.navbar a {
    text-decoration: none;
    color: white;
    margin: 0;
    font-size: 18px;
    transition: color 0.3s;
}

.navbar a:hover {
    color: black;
}

#cannyworx-logo {
    margin-left: 20px;
    font-size: 24px;
    font-weight: bold;
    color: white;
}

#quote-button {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    margin-right: 20px;
    text-decoration: none;
}

.section {
    padding: 80px 20px;
    color: #fff; 
}

h1, h2, h3 {
    color: white;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

#home {
    
    background-size: cover;
    background-position: center;
    color: white;
    text-align: right;
    height: 79vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#home h1 {
    font-size: 72px;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
}

#home h2 {
    font-size: 72px;
    color: grey; 
}



.capabilities-container {
    display: flex;
    justify-content: space-between;
}

.text-left {
    flex: 1;
    text-align: left;
}

.text-right {
    flex: 1;
    text-align: right;
}


.roman-font {
    font-family: 'Times New Roman', serif; 
    font-style: normal; 
    font-size: 9em; 
}

#work h2 {
    font-size: 76px; 
    font-weight: bold;
    color: white;
    text-align: center;
}
#work h2 .red-line {
    border-bottom: 2px solid red; 
}
#contact h2 {
    font-size: 76px; 
    font-weight: bold;
    color: white;
    text-align: center;
}
.red-line {
    border-bottom: 2px solid red; 
    display: inline; 
}
#request-quote-button {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    margin-top: 10px;
}
.office-container {
    text-align: center;
}


#portfolio-button {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    margin-top: 20px;
    text-decoration: none;
    display: inline-block;
}